body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}

a {
    font-size: 0;
    color: #67A7D0;
    text-decoration: none
}

a:hover {
    color: #0a090a;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
    margin-top: 0.8rem;
    color: #767676;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    word-wrap: break-word
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Questrial', sans-serif;
}

body {
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ECECEC;
}

@keyframes fateIn {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}




.wrap {
    -webkit-animation: fateIn 1.5s;
    -o-animation: fateIn 1.5s;
    animation: fateIn 1.5s;
    display: flex;
    width: 240px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #C9C9C9;
    padding-bottom: 16px;
}

.avatar {
    width: 240px;
    justify-content: center;
    display: flex;
    margin-bottom: 1.1rem;

}

.avatar_pic {
    width: 84px;
    height: 84px;
    border-radius: 100%;
}

.name {
    font-weight: 900;
    font-size: 1.8rem;
    color: #000000;
}

.location {
        margin-top: 0;
}

li img {
    opacity: 0.4;
    height:20px;
    width:auto;
}

.profile-link {
    -webkit-animation: fateIn 1.5s;
    -o-animation: fateIn 1.5s;
    animation: fateIn 1.5s;
    display: flex;
    flex-direction: row;

}
.profile-link ul {
    width: 240px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem;
}

.profile-link a:hover {
    opacity: 0.8;
}


